---
- name: Deploy 4G EPC
  hosts: control_plane
  become: true
  vars:
    control_ip: "{{ hostvars['open5gs-control']['ansible_host'] }}"
    db_ip: "{{ hostvars['open5gs-db']['ansible_host'] }}"
    userplane_ip: "{{ hostvars['open5gs-userplane']['ansible_host'] }}"
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Add Open5GS PPA
      apt_repository:
        repo: ppa:open5gs/latest
        state: present

    - name: Install Open5GS
      apt:
        name: open5gs
        state: present
        update_cache: yes

    - name: Configure MME
      template:
        src: ../templates/mme.yaml.j2
        dest: /etc/open5gs/mme.yaml
        backup: yes
      notify: Restart MME

    - name: Configure HSS
      template:
        src: ../templates/hss.yaml.j2
        dest: /etc/open5gs/hss.yaml
        backup: yes
      notify: Restart HSS

    - name: Configure PCRF
      template:
        src: ../templates/pcrf.yaml.j2
        dest: /etc/open5gs/pcrf.yaml
        backup: yes
      notify: Restart PCRF

    - name: Configure SGW-C
      template:
        src: ../templates/sgwc.yaml.j2
        dest: /etc/open5gs/sgwc.yaml
        backup: yes
      notify: Restart SGWC

    - name: Configure SMF
      template:
        src: ../templates/smf.yaml.j2
        dest: /etc/open5gs/smf.yaml
        backup: yes
      notify: Restart SMF

    - name: Enable and start 4G services
      systemd:
        name: "{{ item }}"
        state: started
        enabled: yes
      loop:
        - open5gs-mmed
        - open5gs-hssd
        - open5gs-pcrfd
        - open5gs-sgwcd
        - open5gs-smfd

    - name: Wait for MME to be ready
      wait_for:
        port: 36412
        delay: 5
        timeout: 60

  handlers:
    - name: Restart MME
      systemd:
        name: open5gs-mmed
        state: restarted

    - name: Restart HSS
      systemd:
        name: open5gs-hssd
        state: restarted

    - name: Restart PCRF
      systemd:
        name: open5gs-pcrfd
        state: restarted

    - name: Restart SGWC
      systemd:
        name: open5gs-sgwcd
        state: restarted

    - name: Restart SMF
      systemd:
        name: open5gs-smfd
        state: restarted
