upf:
  pfcp:
    server:
      - address: {{ userplane_ip }}

  gtpu:
    server:
      - address: {{ userplane_ip }}

  session:
    - subnet: 10.45.0.0/16
      gateway: 10.45.0.1
      dnn: internet
    - subnet: 10.46.0.0/16
      gateway: 10.46.0.1
      dnn: internet

  metrics:
    server:
      - address: {{ userplane_ip }}
        port: 9090
