supi: "imsi-999700000000002"
mcc: "999"
mnc: "70"

key: "465B5CE8B199B49FAA5F0A2EE238A6BC"
op: "E8ED289DEBA952E4283B54E88E6183CA"
opType: "OPC"
amf: "8000"

imei: "356938035643803"
imeiSv: "4370816125816151"

gnbSearchList:
  - 10.10.0.100

uacAic:
  mps: false
  mcs: false

uacAcc:
  normalClass: 0
  class11: false
  class12: false
  class13: false
  class14: false
  class15: false

sessions:
  - type: "IPv4"
    apn: "internet"
    slice:
      sst: 1
      sd: 0x000001

configured-nssai:
  - sst: 1
    sd: 0x000001

default-nssai:
  - sst: 1
    sd: 0x000001
